* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: 'Staatliches', sans-serif;
  --ff-texting: 'Palanquin', sans-serif;

  --bg-primary: hsl(217, 18%, 61%);
  --bg-secondery: hsl(275, 18%, 79%);
  --bg-terdiary:  hsl(233, 100%, 97%);
  --fc-primary:  hsla(274, 84%, 12%);
  --fc-secondery: hsl(232, 17%, 35%);

  --fs-heading: 4.8rem;
  --fs-texting: 2.4rem;
  
  --lh-heading: 3.4rem;
  --lh-texting: 2.0rem;


  font-size: 62.5%;
}

body {
  font-family: var(--ff-heading);
  background: var(--bg-terdiary);
}

.page {
  max-width: 38rem;
  margin: 0 auto;
  

}


header img {
  margin-top: 5rem;
}

header {
  background: var(--bg-primary);
  display: grid;
  justify-items: center;
  text-align: center;
  
}

header h1 {
  
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;

  letter-spacing: 0.05rem;
  margin-top: 4rem;

  margin-bottom: 5rem;

  color: white;

  background: hsla(275, 18%, 79%, 1);
  width: 100%;
  height: 4.9rem;
  
  display: grid;
  align-items: center;


}

header, main {
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

p {
  font-family: var(--ff-texting);
  color: var(--fc-primary);
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}


main {
  display: grid;
  gap: 3.2rem;

  animation: downtop 700ms 350ms backwards;
  
}

.card {
  position: relative;
}
.card h2 {
  position: absolute;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;

 letter-spacing: 0.05em;

 top: 1.6rem;
 right: 1.6rem;
}

.card h2 span {
  border-radius: 2rem;
  width: fit-content;
  background: #ffffff;
  padding: 0 2.3rem;
  color: var(--fc-secondery);

}

.card img {
  width: 100%;
  height: auto;
  border-radius: 2.0rem;

  object-fit: cover;
}

.card img:hover {
  opacity: 0.8;
  transform: scale(1.1);
  
}

footer {
  color: var(--fc-secondery);
  margin-top: 4rem;
  display: grid;
  justify-items: center;

}

footer a {
  text-decoration: none;
}


@keyframes downtop {
   0% {
     opacity: 0;
     transform: translateY(20px);
    }

   100% {
     opacity: 1;
     transform: translateY(0);
   } 
}



@media (min-width: 700px) {
 .page {
   
   max-width: 128rem;
 }

 header {
  width: 50rem;
  margin-right: 5rem;
  gap: 15rem;
 }

main {
  padding: 2rem;
}

 main {
    grid-template-columns:  1fr 1fr 1fr;
    
    grid-template-areas: 
    "A B C"
    "D B F"
    "D E F";
}

main div:nth-child(1) {
  grid-area: A;
}

main div:nth-child(2) {
  grid-area: B;
}

main div:nth-child(3) {
  grid-area: C;
}

main div:nth-child(4) {
  grid-area: D;
}

main div:nth-child(5) {
  grid-area: E;
}

main div:nth-child(6) {
  grid-area: F;
}

}

@media (min-width: 900px) {
  .page {
    display: flex;
  }
}